.header-container {
    display: flex;
    justify-content: space-between;
    align-items:space-between;
    padding: 32px;
    padding-left: 95px;
    padding-right: 95px;

  }
  
  @media (max-width: 575px) {
    .header-container {
      padding: 15px;
    }
  }
  
  .logo-and-title-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-left:60px;
  }
  .logo1 {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }
  .logo {
    width: 150px;
    height: 50px;
    margin-right: 8px;
  }
  .paragraph{
    color: #12022f;
    font-family: 'Roboto';
    font-size: 16px;

  }
  .title {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: bold;
  }
  
  .nav-items-list {
    display: flex;
    padding-left: 0px;
  }
  
  .link-item {
    list-style-type: none;
  }
  
  .route-link {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
  }
  
  @media (max-width: 767px) {
    .route-link {
      margin-left: 10px;
    }
  }
  